{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "comma-dangle": 0,
    "semi": [
      2,
      "never"
    ],
    "no-console": [
      1
    ],
    "react/no-danger": 0,
    "no-use-before-define": [2, "nofunc"]
  }
}
